body {
    background: linear-gradient(to right, orange, #00F260);
    font-family: 'Space Mono', monospace;
}

.borderless td,
.borderless th {
    border: none;
}

.btn:hover {
    opacity: 0.5;
}

.btn {
    opacity: 1.0;
}